                /*
                  * DESIGNED BY Cake#0585. (Discord if any problems)
                   * THANKS FOR USING.
                    * LET YOUR EYES THANK YOU.
                     * I WANT TO THANK ((PLE)) FOR DOING A LOT OF THE HEAVY LIFTING.
                      * EDIT TO YOUR PLEASING. TRIED TO MAKE IT AS USER-FRIENDLY AS POSSIBLE.
                       */

/* 

   Section (1) one of PLE redesign
   Each Section acts as a different block to redesigning PLE. 
   Add other sections to enhance further the PLE dark redesign. (Correctly URL them)
** OTHER SECTIONS ARE BEING WORKED ON, THIS IS THE ONLY ONE 27/10/20 **

*/

                /* --------- S P A C I N G ----------- */
                        /* --- MAIN HEADER --- */
                /* --------- S P A C I N G ----------- */

                     /* V Search Box settings V*/
    .searchBox {
    background-color: #101010;
    border: 1px solid #191919;
    color: #bdbdbd;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;
    outline: none;
    }

    [type=search]:focus {
    width: 450px;
    }
                  /* ^ (end) Search Box settings ^ */
                /* --------- S P A C I N G ----------- */

                        /* V CART SETTINGS V */
    /* v This is the text-colour of "cart" + background to match "my account" / "store locator" v */
    .CartMiniContent {
    color: #101010;
    background-color: #bdbdbd;
    }
    /* ^ This is the text-colour of "cart" + background to match "my account" / "store locator" ^ */

    /* v This is the text-colour of "Total" whilst hovering over cart v */
    .CartMiniItemPrice, .CartMiniItemTotal {
    color: #bdbdbd;
    }
    /* ^ This is the text-colour of "Total" whilst hovering over cart ^ */

    /* v Border of the "Cart" drop down v */
    .CartMiniDropDown {
    border: 2px solid #505050;
    }
    /* ^ Border of the "Cart" drop down ^ */

    /* v Makes the background behind "Total" dark, and gives it a bottom border spacing. v */
    .CartMiniDropDownItem {
    background-color: #191919;
    border-bottom: 2px solid #212121;
    }
    /* ^ Makes the background behind "Total" dark, and gives it a bottom border spacing. ^ */

    /* v Makes the background behind "View Cart" and "Checkout" dark v */
    .cartMiniButtonSticky {
    background-color: #212121;
    }
    /* ^ Makes the background behind "View Cart" and "Checkout" dark ^*/

    /* v These (3) three, make changes to the "Cart" drop-down similar to the "My account" drop down. v */
    .CartMiniDropDown {
    display: inline-block;
    margin-left: -12.3em;
    width: 150px;
    position: absolute;
    z-index: 30;
    border: 1px solid #505050;
    }

    .CartMiniItemPrice, .CartMiniItemTotal {
    width: 100%;
    font-weight: 700;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    }

    .CartMiniDropDownItem {
    padding: 0px;
    margin-bottom: 10px;
    }
    /* ^ These (3) three, make changes to the "Cart" drop-down similar to the "My account" drop down. ^ */

                      /* ^ (end) CART SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                      /* V MY ACCOUNT SETTINGS V */
    /* v These three effect the "My account" drop-down text v */
    .loginHeader {
    color: #bdbdbd;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    }

    .loginMyPLELink {
    color: #bdbdbd;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    width: 100%;
    }

    .loginMyPLELink:hover {
    background-color: #101010;
    transition: .8s;  
    }
    /* ^ These three effect the "My account" drop-down text ^ */

    /* v Effects the login(email) and password box v */
    .usernameBox  {
    background-color: #101010;
    border: 1px solid #191919;
    color: #bdbdbd;
    outline: none;
    }
    .passwordBox {
    background-color: #101010;
    border: 1px solid #191919;
    color: #bdbdbd;
    outline: none;
    }
    /* ^ Effects the login(email) and password box ^ */

    /* v Effects the "Dont have an account" text v */
    .noAccountNotice {
    font-size: 12px;
    color: #bdbdbd;
    }
    /* ^ Effects the "Dont have an account" text ^ */

    /* v Effects the error-login text when entering incorrect details v */
    .loginErrorText {
    font-weight: 800;
    color: #ff0000b0;
    }
    /* ^ Effects the error-login text when entering incorrect details ^ */

    /* v Effects the "forgot password" text + hover v */
    .forgotPasswordLink {
    color: #bdbdbd;
    font-size: 12px;
    font-weight: 600;
    }
    .forgotPasswordLink:hover {
    background-color: #101010;
    }
    /* ^ Effects the "forgot password" text + hover ^ */

    /* v makes the area effected by the background-hover clickable with the link v */
    .loginMyPLELink a {
    display: block;
    padding: 10px;
    margin: -10px;
    }
    /* ^ makes the area effected by the background-hover clickable with the link ^ */

    /* v changed the way the dropdown works, smaller and more compact to fit the theme of the delivery one v */
    .CartMiniAccountDropDown {
    display: inline-block;
    margin-left: -75px;
    width: 150px;
    position: absolute;
    border: 1px solid #505050;
    }
    /* ^ changed the way the dropdown works, smaller and more compact to fit the theme of the delivery one ^ */

                   /* ^ (end) MY ACCOUNT SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                      /* V DELIVERY SETTINGS V */
    /* v These effect the text colour in the delivery dropdown menu v */
    .LocationDropDown  {
    color: #bdbdbd;
    border: 1px solid #505050;
    }
    .LocationDropDown a {
    color: #bdbdbd;
    }
    /* ^ These effect the text colour in the delivery dropdown menu ^ */

    /* v Hides the icon of the geo-location v */
    .geolocationIcon {
    display: none;
    }
    /* ^ Hides the icon of the geo-location ^ */

    /* v Makes the "postcode" input box dark, neat and tidy etc, ya know? v */
    .LocationPostcodeCapture input {
    background-color: #101010;
    color: white;
    outline: none;
    border: 1px solid #191919;
    }
    /* ^ Makes the "postcode" input box dark, neat and tidy etc, ya know? ^ */
    
    /* v Adds some extra spacing between the postcode box and click and collect stores v */
    .geolocationWrapper {
    margin-bottom: 15px;
    }
    /* ^ Adds some extra spacing between the postcode box and click and collect stores ^ */

    /* v Makes "Delivery" and "Click and Collect" stand out more v */
    .LocationStoreSelectorType {
    color: #bdbdbd;
    font-weight: bolder;
    }
    /* ^ Makes "Delivery" and "Click and Collect" stand out more ^ */

    /* v Makes the "states" color & background stand out more v */
    .LocationStoreSelectorState {
    color: #bdbdbd;
    background-color: #191919;
    }
    /* ^ Makes the "states" color & background stand out more ^ */
 
    /* v Hover effects for all location text (they're lowkey buttons) v */
    .LocationStoreSelector:hover {
    background-color: #101010;
    transition: .8s;  
    }
    /* ^ Hover effects for all location text  (they're lowkey buttons)  */
                      /* ^ (end) DELIVERY SETTINGS ^ */

                /* --------- S P A C I N G ----------- */
                        /* --- END
                                MAIN 
                                 HEADER --- */
                /* --------- S P A C I N G ----------- */



/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-P-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-L-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-E-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */



                /* --------- S P A C I N G ----------- */
                        /* --- SUB HEADER --- */
                /* --------- S P A C I N G ----------- */

                /* V UNIVERSAL SUB-CATEGORIES SETTINGS V */
    /* v Main Dropdowns from the Subheader effects v */
    .siteCategoriesMain {
    color: #bdbdbd;
    background-color: var(--bg-colour-standard);
    }

    .siteNavigationContainerItem {
    text-shadow: 1px 1px 0 #000;
    }
    /* ^ Main Dropdowns from the Subheader effects ^ */

    /* v Removes a slight shadow below the sub-header v */
    .siteTop {
    box-shadow: 0 0 0 0;
    }
    /* ^ Removes a slight shadow below the sub-header ^ */

             /* ^ (end) UNIVERSAL SUB-CATEGORIES SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                 /* V "ALL CATEGORIES" TAB SETTINGS V */
    /* v "Pin/Shop all Brands" effects v */
    .siteCategoriesPin {
    border: 1px solid #bdbdbd;
    }
    .siteCategoriesPin:hover {
    background-color: #101010;
    transition: .8s;
    }
    /* ^ "Pin/Shop all Brands" effects ^ */

    /* v Hover effect over all sub-heading categories on the sub-heading v */ 
    .siteNavigationContainerItem:hover {
    background-color: #101010;
    transition: .8s;
    }
    /* ^ Hover effect over all sub-heading categories on the sub-heading ^ */ 

    /* v Hover effect over (main) sub-heading categories/titles v */ 
    li.siteCategoriesCategoryL1:hover {
    color: #bdbdbd;
    background-color: #101010;
    }
    /* ^ Hover effect over (main) sub-heading categories/titles ^ */ 

    /* v Hover effect over sub-menu items (whilst hovering over a main-catergory) v */
    .siteCategoriesCategoryName:hover {
    background-color: #101010;
    transition: .8s;
    }
    /* ^ Hover effect over sub-menu items (whilst hovering over a main-catergory) ^ */

    /* v Sub-menu Titles, more spacing and colouring, bit neater v */
    .siteCategoriesSubMenuTitle {
    color: #fff;          /*(#505050 works as well.)*/
    font-weight: bolder;
    padding-bottom: 15px;
    }
    /* ^ Sub-menu Titles, more spacing and colouring, bit neater ^ */

              /* ^ (end) "ALL CATEGORIES TAB" SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                 /* V "DESKTOP COMPUTERS" SETTINGS V */
    /* v Creates a new layout for the dropdown v */
    .CustomBuildDropTextLink {
    color: #bdbdbd;
    text-align: center;
	min-width: 500px;   /*(Delete this to have the old layout)*/
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: #191919;
    }
    /* ^ Creates a new layout for the dropdown ^ */

    /* v Hover effect over links v */
    .CustomBuildDropTextLink:hover {
    background-color: #101010;
    }
    /* ^ Hover effect over links ^ */

    /* v Expands the clickable area of links within the hover block v */
    .CustomBuildDropTextLink a {
    display: block;
    padding: 10px;
    margin: -10px;
    }
    /* ^ Expands the clickable area of links within the hover block ^ */

    /* v This effects behind the large banner of pc categories v */
    .CustomBuildDropDownContainer {
    background-color: #191919;
    }
    /* ^ This effects behind the large banner of pc categories ^ */

    /* v Effects behind the main catergory titles v */
    .CustomBuildDropTextLink.CustomBuildDropPromotionalSeries {
    background-color: #212121;
    text-align: center;
    padding: 0 10px 0 10px;
    }
    /* ^ Effects behind the main catergory titles ^ */

    /* v Removed a border and padding above the text "Total Custom Build" v */
    .CustomBuildDropTotalCustom {
    border-top: 0px solid;
    padding: 0 0 0 0;
    }
    /* ^ Removed a border and padding above the text "Total Custom Build" ^ */

    /* v This is at the very bottom, below "Intel X Series".. v */
    .CustomBuildDropTextLinksArea {
    background-color: #191919;
    }
    /* v This is at the very bottom, below "Intel X Series".. v */ 

               /* ^ (end) "DESKTOP COMPUTERS" SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                    /* V "NOTEBOOKS" SETTINGS V */
    /* v These (2) effect the main-title links and such v */
    .nbkItem {
    color: #fff;
    border-top: 1px solid #505050;
    }
    .nbkItem a:hover {
    color: #505050;
    transition: .4s;
    }
    /* ^ These (2) effect the main-title links and such ^ */

    /* v These (4) four effect the sub-links prior to and on hover v */
    .nbkItemChild {
    color: #bdbdbd;
    }
    .nbkItemChild a {
    display: block;
    }
    .nbkItemChild:hover:not(.nbkBrands) {
    background-color: #101010;
    transition: .8s;
    }
    .nbkItemChild a:hover {
    color: #bdbdbd;
    }
    /* ^ These (4) four effect the sub-links prior to and on hover ^ */

    /* v This adjusts the whole-dropdown background colour + makes it so it doesn't expand due to expanding clickable area v */
    .nbkAddon {
    background-color: #212121;
    max-height: 293px;
    }
    /* ^ This adjusts the whole-dropdown background colour + makes it so it doesn't expand due to expanding clickable area ^ */

    /* v Makes the Brand images inline with eachother v */
    .nbkBrands {
    display: flex;
    }
    /* ^ Makes the Brand images inline with eachother ^ */

    /* v These adjust the opacity of the images prior and then hover, 
         also adds a darker border to fit the theme                 v */
    .nbkBrandImage {
    border: 5px solid #191919;
    opacity: .5;
    }
    img.nbkBrandImage:hover {  /*(img isn't needed but i like it, helps identify what i'm working on)*/
    opacity: 1;
    transition: .8s;
    }
    /* ^ These adjust the opacity of the images prior and then hover, 
         also adds a darker border to fit the theme                 ^ */

                   /* ^ (end) "NOTEBOOKS" SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                 /* V "COMPONENTS" "GAMING" "CASE & MODDING" "COOLING"
                    "MONITOR" "PERIPHERALS" "CABLES & ACCESSORIES" &
                    "NETWORK DEVICES" SETTINGS V */
    /* v Background colouring behind the whole dropdown v */
    .siteNavigationSubMenu {
    background-color: #212121;
    }
    /* ^ Background colouring behind the whole dropdown ^ */

    /* v Colour effect + spacing of titles/Categories of the dropdown v */
    .siteNavigationCategory>a{
    color: #fff;
    padding-bottom: 15px;
    }
    .siteNavigationCategory>a:hover{
    color: #505050;
    transition: .4s;
    }
    /* ^ Colour effect + spacing of titles/Categories of the dropdown ^ */

    /* v Colour of all sub-links v */
    .siteNavigationCategoryChild {
    color: #bdbdbd;
    }
    /* ^ Colour of all sub-links ^ */

    /* v Makes all sub-links have an expanded area to activate/click v */
    .siteNavigationCategoryChild a {
    display: block;
    }
    /* ^ Makes all sub-links have an expanded area to activate/click ^ */

    /* v Hover effect of all sub-links v */
    .siteNavigationCategoryChild:hover {
    background-color: #101010;
    transition: .8s;
    }
    /* ^ Hover effect of all sub-links ^ */

                 /* ^ (end) "COMPONENTS" "GAMING" "CASE & MODDING" "COOLING"
                    "MONITOR" "PERIPHERALS" "CABLES & ACCESSORIES" &
                    "NETWORK DEVICES" SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                      /* V "SPECIALS" SETTINGS V */
    /* v Background colour behind "Specials" catergory v */
    .c1877 {
    background-color: #212121;
    }
    /* ^ Background colour behind "Specials" catergory ^ */

    /* v Effects of "Bundle Deals" v */
    .c2101 {
    color: #bdbdbd;
    }
    .c2101:hover {
    background-color: #101010;
    transition: .8s;
    }
    .c2101 a {
    display: block;
    }
    /* ^ Effects of "Bundle Deals" ^ */

    /* v Effects "Specials" + "Promotions" (kek both the same link) v */
    .c2370 {
    color: #bdbdbd;
    }
    .c2370:hover {
    background-color: #101010;
    transition: .8s;
    }
    .c2370 a {
    display: block;
    }
    /* ^ Effects "Specials" + "Promotions" (kek both the same link) ^ */

    /* v Effects "Ex Demo Bargains" v */
    .c2449 {
    color: #bdbdbd;
    }
    .c2449:hover {
    background-color: #101010;
    transition: .8s;
    }  
    .c2449 a{
    display: block;
    }
    /* ^ Effects "Ex Demo Bargains" ^ */

    /* v Effects "Clearance" v */
    .c2582 {
    color: #bdbdbd;
    }
    .c2582:hover {
    background-color: #101010;
    transition: .8s;
    }
    .c2582 a {
    display: block;
    }
    /* ^ Effects "Clearance" ^ */

    /* v Effects "Latest Email Deals" v */
    .c3106 {
    color: #bdbdbd;
    }
    .c3106:hover {
    background-color: #101010;
    transition: .8s;
    }
    .c3106 a {
    display: block;
    }
    /* ^ Effects "Latest Email Deals" ^ */
                   /* ^ (end) "SPECIALS" SETTINGS ^ */

                /* --------- S P A C I N G ----------- */
                        /* --- END
                                SUB 
                                 HEADER --- */
                /* --------- S P A C I N G ----------- */



/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-P-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-L-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-E-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */




                /* --------- S P A C I N G ----------- */
                        /* --- MAIN BODY --- */
                /* --------- S P A C I N G ----------- */

              /* --- V UNIVERSAL MAIN BODY CHANGES V --- */
    /* v all have an effect, read the note next to it to understand. v */
    .themeLight {
    --bg-colour-standard: #212121;                  /* main content / body colours */
    --bg-colour-almostStandard: #f5f5f5;
    --bg-colour-contrast: #101010;                  /* uhm. this effects the "email address" in the footer.. yeah. */
    --bg-colour-almostContrast: #363636;
    --bg-colour-contrastButton: #696969;
    --fg-colour-standard: #505050;                  /* Pricing numbers + cart */
    --fg-colour-almostStandard: #bdbdbd;            /* Products name */
    --border-colour-standard: #101010;              /* Border colour on all products */
    --border-colour-alternate: #f1f1f1;             /* has no effect now */
    --border-colour-standardFeature: #505050;       /* Hover effect on borders over products */
    --border-colour-otherFeature: #bdbdbd;          /* "My account" + "Delivery" border colours*/
    --fg-colour-inputBorder: #000;
    --fg-colour-generalBorder: #bdbdbd;             /* Review Border colours */
    --fg-colour-hardBorder: #cacaca;
    --bg-colour-stdButton: #191919;                 /* Logout button in "My account" colour */
    --bg-colour-stdButton-hover: #101010;           /* Hover effect on logout button */
    --bg-colour-stdButton-hover-border: #101010;    /* ..Border colour of logout button */
    --fg-colour-stdButton-hover: #bdbdbd;           /* Currently this effects the COVID-19 status banner and the "My account" hover text of logout */
    --plered: #191919;                              /* header and overall accent colours */ /*(Thanks PLE for the heavy lifting ♡)*/
    }
    /* ^ all have an effect, read the note next to it to understand. ^ */
            /* --- ^ (end) UNIVERSAL MAIN BODY CHANGES ^ --- */
                /* --------- S P A C I N G ----------- */

                      /* V REVIEWS SETTINGS V */
    /* v Effects the name of the Reviewer v */
    .reviewName {
    color: #fff;
    font-weight: bold;
    }
    /* ^ Effects the name of the Reviewer ^ */

    /* v Effects the text written in the Review v */
    .reviewText {
    color: #bdbdbd;
    }
    /* ^ Effects the text written in the Review ^ */

    /* v Effects the date of the review v */
    .reviewDate {
    font-weight: bolder;
    color: #505050;
    }
    /* ^ Effects the date of the review ^ */

    /* v On Hover, Effects background of the review tile v */
    .reviewTile:hover {
    background-color: #101010;
    transition: .8s;
    }
    /* ^ On Hover, Effects background of the review tile ^ */

                     /* ^ (end) REVIEWS SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                    /* V BRAND CAROUSEL SETTINGS V */
    /* v Effects behind the image, essentially a border almost between the brand images v */
    .brandCarousel {
    background-color: #101010;
    }
    /* ^ Effects behind the image, essentially a border almost between the brand images ^ */

    /* v Effects the images default-state prior to hover v */
    .brandCarouselTile {
    opacity: .4;
    }
    /* ^ Effects the images default-state prior to hover ^ */

    /* v On Hover, Effects the brands image, brining opacity back to normal v */
    .brandCarouselTile:hover {
    opacity: 1;
    transition: .4s;
    }
    /* ^ On Hover, Effects the brands image, brining opacity back to normal ^ */

    /* v On Hover + Prior, Effects on the {next} button that appears on Brand Carousel v */
    .slick-next:before {
    background-color: #bdbdbd;
    }
    .slick-next:hover:before {
    color: #101010;
    transition: .4s;
    }
    /* ^ On Hover + Prior, Effects on the {next} button that appears on Brand Carousel ^ */

    /* v On Hover + Prior, Effects on the {previous} button that appears on Brand Carousel v */
    .slick-prev:before {
    background-color: #bdbdbd;
    }
    .slick-prev:hover:before {
    color: #101010;
    transition: .4s;
    }
    /* ^ On Hover + Prior, Effects on the {previous} button that appears on Brand Carousel ^ */

                 /* ^ (end) BRAND CAROUSEL SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                  /* V PROMOTIONS CAROUSEL SETTINGS V */
    /* v Swaps out the red banner and adds one that fits the dark-theme, easy to disable and have the old one back or completel disable v */
    .homepageBannerSlides3rdPartyContainer {
    background-image: url(https://raw.githubusercontent.com/peepoboi/cssplayground/master/ple-imgs/ple-promotionals.png);
    /* background-image: none; */   /*Enable this if you don't want the background to the promotional Carousel*/
    }
    /* ^ Swaps out the red banner and adds one that fits the dark-theme, easy to disable and have the old one back or completel disable ^ */

               /* ^ (end) PROMOTIONS CAROUSEL SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                  /* V "NEW PRODUCTS" TEXT-SETTINGS V */
    /* v Effects "New Products" text v */
    .homepageNewProductsTitle {
    color: #bdbdbd;
    text-align: center;
    font-size: 20px;
    }
    .homepageNewProductsNewBit {
    color: #505050;
    font-weight: bolder;
    }
    /* ^ Effects "New Products" text ^ */
               /* ^ (end) "NEW PRODUCTS" TEXT-SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                 /* V HOMEPAGE NEW-PRODUCTS SETTINGS V */
    /* v On Hover + Prior, Effects the New Products images etc v */
    .itemGridTileWrapper {
    border: 1px solid #505050;
    }

    .itemGridTileWrapper:hover {
    background-color: #101010;
    transition: .8s;
    }
    /* ^ On Hover + Prior, Effects the New Products images etc ^ */

    /* v Effects the "Add To Cart" text that appears when hovering over a product v */
    .itemGridTileAddToCart {
    background-color: #212121;
    }
    .itemGridTileAddToCart:hover {
    background-color: #101010;
    transition: .4s;
    }
    /* ^ Effects the "Add To Cart" text that appears when hovering over a product ^ */

    /* v Effects the "view all" button under the next products / brands v */ 
    .brandCarouselAllBrands:hover {
    background-color: #101010;
    transition: .8s;
    }
    /* ^ Effects the "view all" button under the next products / brands ^ */

    /* v Effects the spotlight items "add to cart" button only v */
    .homepageSpotlight .itemGridTileWrapper .itemGridTileAddToCart:hover {
    background-color: #191919;
    transition: .4s;
    }
    /* ^ Effects the spotlight items "add to cart" button only ^ */

    /* v Adds the same spacing between products as shown in the spotlight products v */
    .homepageNewProducts .itemGridTileWrapper {
    margin: 5px;
    }
    /* ^ Adds the same spacing between products as shown in the spotlight products ^ */

              /* ^ (end) HOMEPAGE NEW-PRODUCTS SETTINGS ^ */
                /* --------- S P A C I N G ----------- */
                        /* --- END
                                 MAIN 
                                   BODY --- */
                /* --------- S P A C I N G ----------- */


/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-P-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-L-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-E-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */


                /* --------- S P A C I N G ----------- */
                          /* --- FOOTER --- */
                /* --------- S P A C I N G ----------- */

                      /* V FOOTER-TEXT SETTINGS V */
    /* v Effects the whole footers background, matching with the dark theme v */
    .footerContainer {
    background-color: #191919;
    }
    /* ^ Effects the whole footers background, matching with the dark theme ^ */

    /* v Increases max width, to make it a wee bit slightly larger v */
    .footerInnerContainer {
    max-width: 1750px;    /* 1450px is default */
    }
    /* ^ Increases max width, to make it a wee bit slightly larger ^ */

    /* v On Hover + Prior, Effects of the text within the footer v */
    .c2925 {
    color: #bdbdbd;
    }
    .c2925:hover {
    background-color: #101010;
    transition: .8s;
    }
    /* ^ On Hover + Prior, Effects of the text within the footer ^ */

                   /* ^ (end) FOOTER-TEXT SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

               /* V NEWSLETTER/EMAIL-SIGN UP SETTINGS V */
    /* v On Hover + Prior, Effects the "sign up" button v */
    .newsletterSignupButtonText {
    background-color: #505050;
    }
    .newsletterSignupButtonText:hover {
    background-color: #212121;
    transition: .4s;
    }
    /* ^ On Hover + Prior, Effects the "sign up" button ^ */

    /* v Effects the border around the email-signup, around "sign up" I made it
         disappear, whilst having a borer around the input area v */
    .newsletterInputWrapper {
    border: 1px solid #101010;
    }
    .newsletterSignupButton {
    border: 0px solid #191919;
    }
    /* ^ Effects the border around the email-signup, around "sign up" I made it
         disappear, whilst having a borer around the input area ^ */

    /* v Centers the "Stay up to Date" text with the input area v */
    .footerStayUpToDate {
    text-align: center;
    }
    /* ^ Centers the "Stay up to Date" text with the input area ^ */

    /* v Effects the "View Latest" hyperlink v */
    .c6356 {
    color: #bdbdbd;
    }
    /* ^ Effects the "View Latest" hyperlink ^ */

            /* ^ (end) NEWSLETTER/EMAIL-SIGN UP SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                /* V "FOLLOW US ON SOCIALS" SETTINGS V */
    /* v Changes the Social Logo's Opacity On Hover v */
    .footerSocial:hover {
    opacity: .4;
    transition: .4s;
    }
    /* ^ Changes the Social Logo's Opacity On Hover ^ */

    /* v Changes the YouTube Logo to fit the dark-theme v */    
    .c5600 img {
    content: url("https://raw.githubusercontent.com/peepoboi/cssplayground/master/ple-imgs/ple-youtube.png");
    }
    /* ^ Changes the YouTube Logo to fit the dark-theme ^ */

    /* v Changes the Twitch Logo to fit the dark-theme v */
    .c5731 img {
    content: url("https://raw.githubusercontent.com/peepoboi/cssplayground/master/ple-imgs/ple-twitch.png");
    }
    /* ^ Changes the Twitch Logo to fit the dark-theme ^ */

    /* v Changes the Facebook Logo to fit the dark-theme v */
    .c5794 img {
    content: url("https://raw.githubusercontent.com/peepoboi/cssplayground/master/ple-imgs/ple-facebook.png");
    }
    /* ^ Changes the Facebook Logo to fit the dark-theme ^ */

    /* v Changes the Twitter Logo to fit the dark-theme v */
    .c5857 img {
    content: url("https://raw.githubusercontent.com/peepoboi/cssplayground/master/ple-imgs/ple-twitter.png");
    }
    /* ^ Changes the Twitter Logo to fit the dark-theme ^ */

    /* v Changes the Instagram Logo to fit the dark-theme v */
    .c5920 img {
    content: url("https://raw.githubusercontent.com/peepoboi/cssplayground/master/ple-imgs/ple-instagram.png");
    }
    /* ^ Changes the Instagram Logo to fit the dark-theme ^ */

    /* v Instagram Pictures / Videos (On Hover + Prior) Effects v */
    .igTileInnerInner a img, .igTileInnerInner a video {
    opacity: .4;
    }

    .igTileInnerInner a img:hover, .igTileInnerInner a video:hover {
    opacity: 1;
    transition: .4s;
    }
    /* ^ Instagram Pictures / Videos (On Hover + Prior) Effects ^ */

             /* ^ (end) "FOLLOW US ON SOCIALS" SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                   /* V STORE LOCATIONS SETTINGS V */
    /* v Effects the Store Name + Telephone v */
    .c8871 {
    color: #bdbdbd;
    font-weight: bold;
    
    }
    .c9078 {
    color: #bdbdbd;
    font-weight: lighter;
    }
    /* ^ Effects the Store Name + Telephone ^ */

    /* v On Hover, Effects the Store Name + Telephone v */
    .c8871:hover {
    background-color: #101010;
    transition: .8s;
    }
    .c9078:hover {
    background-color: #101010;
    transition: .8s;
    }
    /* ^ On Hover, Effects the Store Name + Telephone ^ */

    /* v Effects the text of "Directions" v */
    .footerDirectionsCell {
    color: #505050;
    }
    /* ^ Effects the text of "Directions" ^ */

    /* v On Hover, Effects the text of "Directions" v */
    .footerDirectionsCell:hover {
    color: #bdbdbd;
    background-color: #101010;
    transition: .8s;
    }
    /* ^ On Hover, Effects the text of "Directions" ^ */
    
    /* v Makes all store locations on the same line v */
    .xcell2 {
    display: contents;
    }
    /* ^ Makes all store locations on the same line ^ */

    /* v Red drop-pin arrow (keeps it in the same position from re-positioning the store locations) v */
    .c12170 {
    height: inherit;
    }
    /* ^ Red drop-pin arrow (keeps it in the same position from re-positioning the store locations) ^ */

                 /* ^ (end) STORE LOCATIONS SETTINGS ^ */
                /* --------- S P A C I N G ----------- */

                 /* V "ALL RIGHTS RESERVED" SETTINGS V */
    /* v Effects the block of all-rights-reserved text at the bottom v */
    .c4688 {
    text-align: center;
    font-size: 12px;
    color: #505050;
    display: block;
    }
    /* ^ Effects the block of all-rights-reserved text at the bottom ^ */

    /* v Makes the links stand out more, if you're so interested in reading T.O.S and things v */
    .c4991 a {
    color: #bdbdbd;
    font-weight: bold;
    }
    /* ^ Makes the links stand out more, if you're so interested in reading T.O.S and things ^ */

    /* v My Watermark v */
    .c4688::after {
    content: "Designed by Cake \a (Cake#0585 - Discord)";
    font-weight: bold;
    white-space: pre-wrap; 
    font-size: 10.5px;
    }
    /* ^ My Watermark ^ */
               /* ^ (end) "ALL RIGHTS RESERVED" SETTINGS ^ */

                /* --------- S P A C I N G ----------- */
                        /* --- END

                                  FOOTER --- */
                /* --------- S P A C I N G ----------- */


/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-P-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-L-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-E-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */



                /* --------- S P A C I N G ----------- */
                        /* --- MISC SETTINGS --- */
                /* --------- S P A C I N G ----------- */

                      /* V SCROLLBAR SETTINGS V */

    /* v width v */
    ::-webkit-scrollbar {
     width: 14px;
    }
    /* ^ width ^ */

    /* v track v */
    ::-webkit-scrollbar-track {
    background: #101010;
    }
    /* ^ track ^ */

    /* v handle v */
    ::-webkit-scrollbar-thumb {
    background: #191919;
    }
    /* ^ handle ^ */

    /* v handle on hover v */
    ::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
    }
    /* ^ handle on hover ^ */

                   /* ^ (end) SCROLLBAR SETTINGS ^ */

                      /* V RTX STOCK SETTINGS V */

    .c2148 {
    padding: 10px;
    max-width: 1450px;
    border: 2px solid #7d0000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    color: #bdbdbd;
    text-align: center;
    background-color: #101010;
    }

                    /* ^ (end) RTX STOCK SETTINGS ^ */
                /* --------- S P A C I N G ----------- */
                        /* --- END
                                MISC
                                 SETTINGS --- */
                /* --------- S P A C I N G ----------- */



/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-P-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-L-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */
/* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-E-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */



                                        /* -_-_-_-_-_--_-_-_-_-_--_-_-_-_-_-_-_-_-_-_-_--_-_-_-_-_--_-_-_-_-_- */

/*
> Again, thanks for using the css, you're more than welcome to remove my watermark css at the very bottom of the code (CRTL + F ".c4688::after") I don't mind either way.
>> If you find any website-breaking css, un-readable text or have an idea to fix something / improve, don't hesitate to contact me! (Discord is provided at the top of the css)
>>> I want to thank PLE again for the heavy lifting and overall layout of the website, they made it pretty user-friendly with their .divs and what not (I've seen way worse in websites)
>>>> I'm more than happy for anyone to take what I've done and further improve or modify to their own liking, attempted to make this all extremely user-friendly, though there is some confusing parts.

                                                                            Much Love
                                                                              ᴄᴀᴋᴇ
                                                                                                                                                                                                    */
